:root {
  background-color: black;
  overflow-y:       auto;
}


html, body {
  height: 100%;
}


input[type="text"] {
  background-color: #4a4a4a;
  color:            white;
}
input[type="text"]::placeholder {
  color: white;
}


input[type="file"] {
  display: none;
}
.file-upload {
  border:  1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor:  pointer;
  height:  2.5rem;
}


#video-container {
  width:  100%;
  height: calc(95% - 52px);
  display: flex;
  flex-direction: column;
}
#video-player {
  width:   100%;
  height:  100%;
  outline: none;
}
#video-player::-webkit-media-controls {
  display: none !important;
}


#progress-bar {
  width:  100%;
  height: 10px;
}
#progress-bar div {
  height:           100%;
  background-color: white;
}
#progress-bar:hover {
  transition: 150ms opacity;
  opacity:    0.5;
}


#control-panel {
  display:         flex;
  justify-content: center;
  align-items:     center;
  min-width:       min-content;
  height:          calc(5% + 40px);
}
#control-panel button {
  width:            40px;
  height:           40px;
  border-radius:    50%;
  background-color:          red;
  border-color:              red;
  box-shadow:       0 0 15px red;
  margin:           0 5px;
}
.activated {
  background-color:    green !important;
  border-color:        green !important;
  box-shadow: 0 0 15px green !important;
}


