body {
  margin: 0px;
}

:root {
  background-color: black;
  overflow-y: auto;
}

input[type="text"] {
  background-color: #4a4a4a;
  color: white;
  margin: 0 5px;
}
input[type="text"]::placeholder {
  color: white;
}

input[type="file"] {
  display: none;
}
.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#video-container {
  height: calc(95% - 52px);
}
#video-container video {
  height: 100%;
  width: 100%;
}

#progress-bar {
  width: 100%;
  height: 10px;
}
#progress-bar div {
  height: 100%;
  background-color: white;
}

#control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(5% + 40px);
}
#control-panel button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
  border-color: red;
  box-shadow: 0 0 15px red;
  margin: 0 5px;
}
.activated {
  background-color: green !important;
  border-color: green !important;
  box-shadow: 0 0 15px green !important;
}
