body {
  margin: 0px;
  background-color: black;
  height: 100vh;
}

:root {
  overflow: hidden;
}

input[type="file"] {
    display: none;
}
.file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#video-container {
  height: 80%;
}
#video-container video {
  height: 100%;
  width: 100%;
}

#progress-bar {
  width: 100vw;
  height: 2%;
}
#progress-bar div {
  height: 100%;
  background-color: white;
}

#control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#control-panel button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
  border-color: red;
  box-shadow: 0 0 15px red;
  margin: 0 5px;
}
.activated {
  background-color: green !important;
  border-color: green !important;
  box-shadow: 0 0 15px green !important;
}
