:root {
  background-color: black;
  overflow-y:       hidden;
}


html, body {
  height: 100%;
}


input[type="text"] {
  background-color: #4a4a4a;
  color:            white;
}
input[type="text"]::placeholder {
  color: white;
}


input[type="file"] {
  display: none;
}
.file-upload {
  border:  1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor:  pointer;
  height:  2.5rem;
}


#video-container {
  width:          100%;
  height:         calc(95% - 52px);
  display:        flex;
  flex-direction: column;
}
#video-player {
  width:   100%;
  height:  calc(100% - 10px);
  outline: none;
}
#video-player::-webkit-media-controls {
  display: none !important;
}


#progress-bar {
  width:      100%;
  height:     10px;
  bottom:     0;
  transition: 150ms opacity;
}
#progress-bar div {
  height:           100%;
  background-color: white;
}
#progress-bar:hover {
  opacity: 0.5 !important;
}


#control-panel {
  display:         flex;
  justify-content: center;
  align-items:     center;
  min-width:       min-content;
  height:          calc(5% + 40px);
}
#control-panel button {
  width:            40px;
  height:           40px;
  border-radius:    50%;
  background-color:          red;
  border-color:              red;
  box-shadow:       0 0 15px red;
  margin:           0 5px;
}
.activated {
  background-color:    green !important;
  border-color:        green !important;
  box-shadow: 0 0 15px green !important;
}


/* for that cool shuffling effect for notifications */
.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
  transform: translateY(-20%) !important;
  margin-bottom: 0 !important;
}
